In [1]:
file_train_instances = "train_stances.csv"
file_train_bodies = "train_bodies.csv"
file_test_instances = "test_stances_unlabeled.csv"
file_test_bodies = "test_bodies.csv"
file_predictions = 'predictions_test.csv'

In [2]:
import pandas as pd

/home/arnab/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/arnab/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [4]:
train_stances = pd.read_csv(file_train_instances)
train_stances.head()

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree

In [5]:
train_bodies = pd.read_csv(file_train_bodies)
train_bodies.head()

   Body ID                                        articleBody
0        0  A small meteorite crashed into a wooded area i...
1        4  Last week we hinted at what was to come as Ebo...
2        5  (NEWSER) – Wonder how long a Quarter Pounder w...
3        6  Posting photos of a gun-toting child online, I...
4        7  At least 25 suspected Boko Haram insurgents we...

In [6]:
test_stances = pd.read_csv(file_test_instances)
test_stances.head()

                                            Headline  Body ID
0  Ferguson riots: Pregnant woman loses eye after...     2008
1  Crazy Conservatives Are Sure a Gitmo Detainee ...     1550
2  A Russian Guy Says His Justin Bieber Ringtone ...        2
3  Zombie Cat: Buried Kitty Believed Dead, Meows ...     1793
4  Argentina's President Adopts Boy to End Werewo...       37

In [7]:
test_bodies = pd.read_csv(file_test_bodies)
test_bodies.head()

   Body ID                                        articleBody
0        1  Al-Sisi has denied Israeli reports stating tha...
1        2  A bereaved Afghan mother took revenge on the T...
2        3  CNBC is reporting Tesla has chosen Nevada as t...
3       12  A 4-inch version of the iPhone 6 is said to be...
4       19  GR editor’s Note\n\nThere are no reports in th...

In [12]:
pred = pd.read_csv(file_predictions)
pred.head()

      Stance
0  unrelated
1  unrelated
2  unrelated
3  unrelated
4  unrelated

In [13]:
type(pred)

pandas.core.frame.DataFrame

In [14]:
pred.keys()

Index(['Stance'], dtype='object')

# Making our dataset

In [24]:
import json
import numpy as np

In [19]:
ubuntu_path = '/home/arnab/Desktop/Thesis Ubuntu/'
file = open(ubuntu_path+'Dataset_preprocessed/News_Papers/iitefaq_out_2.json')
news = json.load(file)
print(len(news))
print(news[0])

5770
{'headline': 'রাজধানী স্থান সড়ক অবরোধ বিক্ষোভ শিক্ষার্থীদ', 'body': 'বাসচাপা শিক্ষার্থী নি জ টা তৃতী দিন অচল রাজধানী শহর স্থান সড়ক অবরোধ বিক্ষোভ শিক্ষার্থী সম নিরাপদ সড় দা হা হা ব্যানা ফেস্টুন প্ল্যাকার্ড আন্দোলন সহপাঠীদ মৃত্যু জড়িত চালক হেলপার যথোপযুক্ত শাস্তি রাজধানী চাল ড্রাইভিং লাইসেন্স দক্ষ গুরুত্ব দে দা আন্দোলন আন্দোলনকারীদ দখল রাজধানী শাহবাগ যাত্রবাড়ি সায়েন্স ল্যাব উত্ত হাউস বিল্ডিং মিরপু ১০ বাংলামট ডেম এলাকা দিন খণ্ডচিত্ আয়ো এক শিক্ষার্থী বু ঝোলানো প্লাকার্ড দা তো সপ্তাহ তিন গণপরিবহন যাতায়াত জনপ্রতিনিধিদ আরেক শিক্ষার্থী স্কুলশার্ট টেপ দি লাগানো প্লাকার্ড লেখা মুজিব কোট মুজিব মানা চামচাদ ৯ টাকা এক জি নিরাপদ বাংলাদেশ চা লেখা প্লাকার্ড এক শিক্ষার্থী রাজধানী জুড় সড় স্লোগান দা লিখ যা আন্দোলনরত শিক্ষার্থীদ ইত্তেফাক'}

In [50]:
np.random.shuffle(news)

In [51]:
news[0]

{'headline': 'প্রিয়াঙ্কা নিক জোনা বাগদান সম্পন্ন',
 'body': 'বলিউড হলিউড অভিনেত্রী প্রিয়াঙ্কা চোপড়া মার্কিন পপস্ নিক জোনা বাগদান সম্পন্ন হ নিয়াঙ্কা প্রাম গুঞ্ শুক্ পশ্চিমা সংবাদমাধ্যম বাগদান খব নিশ্চিত যা লন্ডন প্রিয়াঙ্কা ৩৬তম জন্ম এক উদযাপন নিক প্রিয়াঙ্কা বাগদান কাজ সার ফে পক্ষ আংটিবদল আনুষ্ঠানিক ঘোষণা আসেনি পিপল ম্যাগাজিন জানি নিউইয়র্ টিফানি স্টো প্রিয়াঙ্কা অনামিকা পরি দে আং কেন নিক গত বছ মেট গালা অনুষ্ঠান প্রিয়াঙ্কা চোপড়া নিক জোনা পরিচ এক লালগালিচা হাঁ গুজব রট জিমি কিমাল টক শো প্রিয়াঙ্কা নিক দারুণ মানুষ পরিচ অল্প সম হ ঘনিষ্ঠ সুযোগ বছর ম মা নিক জোনাস বন্ধুদ সমুদ্ ভ্রমণ গি প্রিয়াঙ্কা সম ঘনিষ্ঠ মুহূর্ ছ অন্তর্জাল দুনিয়া ছড়ি পড় এ ছড়ি পড় তারকা প্রাম গুঞ্ এ গুঞ্ আরো প্রবল প্রিয়াঙ্কা নিক জোনা আত্নী বি নিক প্রিয়াঙ্কা হাত কিছুদিন ভ বেড়া আস প্রিয়াঙ্কা মা মধু চোপড়া ভা সিদ্ধার্থ চোপড়া স মিল মুম্বাই রেস্টুরেন্ট নৈশভোজ গোয়া ঘুর ভ ঘোরাঘুরি শাষ প্রেমি ব্রাজিল প্রিয়াঙ্কা সেখানকা ভিলা ম্যাক্স ফেস্টিভ্যাল সংগীত পরিবেশন নিক এদি আ আব্বাস জাফর ভারত ছ মধ্য দি বছ বলিউড প্রত্যাবর্তন কথা ছিলো প্রিয়াঙ্কা বৃহস্পতি এক টুইট আ আব্বাস জাফ জানান প্রিয়াঙ্কা চোপড়া ভারত পেছন র শেষ সম সিদ্ধান্ত জানিয় খুশি ভারত টিম পক্ষ সুখী জী কাম কর প্রিয়াঙ্কা বলিউড কয়েক অভিন প্রাম গুঞ্ শো তালিকা আছ শাহরুখ খান অক্ষ কুমা শহিদ কাপু হারমান বেওয়েজা ব্যবসায়ী অসীম মার্চেন্ট অন্ নিক জোনাস সাবেক বিশ্বসুন্দরী অলিভিয়া কালপো গায়িকা ডেল্ গুডরাম প্রেম প্রিয়াঙ্কা নি চা ব ১০ বছ বড় ইত্তেফাকরেজা'}

In [55]:
news_len = 4567
news_train = news[0 : news_len]
news_test = news[news_len : len(news)]

In [62]:
def make_dataset(news):
    ''' Make agree dataset '''
    dataset = []
    body_arr = []
    for i in range(len(news)):
        head = news[i]['headline']
        body = news[i]['body']
        dataset.append({
            'Headline': head,
            'Body ID' : i,
            'Stance'  : 'agree'
        })
        body_arr.append({
            'Body ID' : i,
            'articleBody' : body
        })
    
    ''' Make Unrelated dataset '''
    arr = np.arange(0 , len(body_arr))
    np.random.shuffle(arr)
    for i in range(len(news)):
        head = news[i]['headline']
        stance = 'unrelated'
        if(i == arr[i]):
            stance = 'agree'
        dataset.append({
            'Headline': head,
            'Body ID' : arr[i],
            'Stance'  : stance
        })
    np.random.shuffle(dataset)
    return pd.DataFrame(dataset) , pd.DataFrame(body_arr)

In [79]:
train_data , train_body = make_dataset(news_train)
print(train_data.shape , train_body.shape)
train_data.tail()

(9134, 3) (4567, 2)

      Body ID                                           Headline     Stance
9129     3162         সাবেক রেজিস্ট্ সৈয়দ রেজাউ রহমান চাকরিচ্যুত      agree
9130      358                        প্রত্যাশা চাই উন্নতি নেইমার  unrelated
9131     3221  রুশ চ অভিযোগ গ্রেফতারকৃত যুবতী জামিন নাকচ মার্...      agree
9132     1734  কোটালীপাড়া জ জন্ম স্বেচ্ছাসেবক লীগ প্রতিষ্ঠাবা...  unrelated
9133     1516                              কালো চামড়া পুরুষদ যৌন      agree

In [80]:
test_data , test_body = make_dataset(news_test)
print(test_data.shape , test_body.shape)
test_data.head()

(2406, 3) (1203, 2)

   Body ID                                     Headline     Stance
0      623        ছোট ভাই জি ৫ প্রাপ্তি উচ্ছ্বসিত বুবলী      agree
1      665     নির্বাচন স্ব থাকল জয়ী হবো : নেলসন চামিসা  unrelated
2      452  শ্লীলতাহানি চেষ্ জা শিক্ষার্থী পুলিশ সোপর্দ  unrelated
3     1024                কান উৎ আঙিনা পাঁচ নারী বিচারক  unrelated
4      271       লাইসেন্স প্রতারণা শর্ত ভঙ্গ গ্রামীণফোন      agree

In [86]:
print('saving data')
train_data.to_csv('Bangla_Dataset/our_train_stances.csv')
test_data.to_csv('Bangla_Dataset/our_test_stances.csv')
train_body.to_csv('Bangla_Dataset/our_train_body.csv')
test_body.to_csv('Bangla_Dataset/our_test_body.csv')

saving data

In [ ]:
! python pred_windows.py